// styles for every component necessary for that project, including buttons, modals, etc.






.image{
    width: 100%;
    object-position: center;
    object-fit: cover;
    
}

.btnDark{
    background-color: var(--pureBlack);
    color: var(--pureWhite);
    border: none;
    font-size: var(--H4);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 1em 2em  ;

    &:hover,&:active,&:focus{
        background-color: var(--lightGrey);
        color: var(--pureBlack);
    }

}



.btnLight{
    background-color: var(--pureWhite);
    color: var(--pureBlack);
    border: none;
    font-size: var(--H4);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 1em 2em ;

    &:hover,&:active,&:focus{
        background-color: var(--lightGrey);
    }

}



.btn1 {
    color: var(--pureBlack);
    font-size: var(--H4);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 1s;
    text-decoration: none;
    

    &:hover,&:active,&:focus{
        text-decoration: underline;
        text-decoration-color: var(--pureBlack);
    }

}



.btn2 {
    color: var(--pureWhite);
    font-size: var(--H4);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 1s;
    text-decoration: none;

    &:hover,&:active,&:focus{
        text-decoration: underline;
        text-decoration-color: var(--pureWhite)
    }
}










.heroText{
    // width: 40%;
    // max-height: 70vh;
    // display: flex;
    // flex-direction: column;
    // margin: auto;
    // padding: 0 min(10rem, 10vh);

}


