.hero{
    @include sectionEach($height75: false);
    .imageSide{
        width: 55%;
        max-width: 55%;
        object-fit: cover;
        object-position: center;
       
    }

    .heroText{
        @include textBox ($light: false);
        gap: 1em;
        p{
            color: rgba($color: #fff, $alpha: .6);
            line-height: 25px;
            max-width: 400px;
        }
        
    }
}

.featuredMain{
    @include featured;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 2.5rem;
    .domain,.exposure,.drag-drop{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .featureHome{
        display: flex;
        flex-direction: column;
        
        // align-items: center;
        gap: 1rem;
        text-align: center;
    }
}


.footerBanner{
    background: $imgDarkener, url('/assets/shared/desktop/bg-beta.jpg');
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
    @include bgDefault;

    h1{
        color: $pureWhite;
        font-size: $H1;
        letter-spacing: 4.2px;
        text-transform: uppercase;
        max-width: 35%;

    }
}



@media (max-width:$tablet){
    .hero{
        .imageSide{
            width: 40%;
            max-width: 40%;
           
        }
        .imageFeatures{
            object-position: -100px -0px;

        }
    
        .heroText{
            width: 60%;
            max-width: 60%;
            
        }
    }

    .featuredMain{
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        padding: 5rem 2.5rem;
        
        .responsive{
            grid-area: 1/1/2/2;
        }
        .noLimit{
            grid-area:1/2/2/3 ;
        }
        .featureRes{
            grid-area: 2/1/3/2;
        }
        .featureLimit{
            grid-area: 2/2/3/3;
        }
        .featureEmbed{
            grid-area: 4/1/5/2;
        }
        .featureDomain{
            grid-area: 4/2/5/3;
        }
        .featureHome{
            display: flex;
            flex-direction: column;
            
            text-align: center;
            gap: 1rem;
            max-width: 90%;
            
            
        }
    }

    .footerBanner{
        padding: 5rem 2.5rem;

        h1{
            max-width: 60%;

        }
    }
}


@media (max-width: $mobile){
    .hero{
        flex-direction: column-reverse;
        
        .imageSide{
            min-width: 100%;
            height: 100vw;
            
        }
        .imageFeatures{
            object-position: center;

        }
    
        .heroText{
            min-width: 100%;
           @include textBoxMobile;

        }
    }


    .featuredMain{
        grid-template-rows: repeat(12,1fr);
        column-gap: 0rem;
        grid-template-columns: 1fr;
        padding: 5rem 2.5rem;
        
        .responsive{
            grid-row: 1/2;
        }
        .featureRes{
            grid-row: 2/3;
        }

        .noLimit{
            grid-area: 3/1/4/2;
        }

        .featureLimit{
            grid-row: 4/5;
        }
        .embed{
            grid-row: 5/6;
        }
        .featureEmbed{
            grid-row: 6/7;
        }
        .domain{
            grid-row: 7/8;
        }
        .featureDomain{
            grid-row: 8/9;
        }
        .exposure{
            grid-row: 9/10;
        }
        .featureExp{
            grid-row: 10/11;
        }
        .drag-drop{
            grid-row: 11/12;
        }
        .featureDrag{
            grid-row: 12/13;
        }
        
        .feature, .featureHome{
            grid-column: 1/2;
        }
        .feature{
            justify-self: center;
            align-self: end;
        }
        .featureHome{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            // gap: 1rem;
            justify-self: center;
        }
    }

    .footerBanner{
        flex-direction: column;
        padding: 4rem 2rem;

        align-items: flex-start;
        gap: 1.5rem;

        h1{
            font-size: $h1;
            letter-spacing: 3px;
            max-width: 100%;
    
        }
    }


}