// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.sectionOne{
    @include sectionEach($height75: true);
    .imgOne{
        width: 55%;
        max-width: 55%;
        // max-height: 75vh;
    }

    .heroText{
        @include textBox ($light: false)
    }
}

.sectionTwo, .sectionThree{
    @include sectionEach($height75: false);

    .imgHm{
        width: 55%;
        max-width: 55%;
        min-width: 55%;
    }

    .textBox{
        @include textBox ($light: true);
    }
}

.imgCards{
    display: flex;
    

    
    .link{
        margin-top: 1.5em;
        justify-content: space-between;
        align-items: center;

        a{
            color: $pureWhite;
        }
    }


    .imgCard1{
        background: $imgDarkener, url('/assets/stories/desktop/mountains.jpg');
    }
    .imgCard2{
        background: $imgDarkener, url('/assets/stories/desktop/cityscapes.jpg');
    }
    .imgCard3{
        background: $imgDarkener, url('/assets/stories/desktop/18-days-voyage.jpg');
    }.imgCard4{
        background: $imgDarkener, url('/assets/stories/desktop/architecturals.jpg');
    }

    .imgCard{
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        justify-content: flex-end;
        width: 25%;
        height: $section65;
        
        color: $pureWhite;
        padding: 2em 2em;
        background-image: 100%;
        @include bgDefault;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
        

        &:hover,&:focus,&:active{
            top: -30px;
            
            border-bottom: 10px solid transparent;
            border-image: $mainAccent;
            border-image-slice: 1;
            // height: 70vh;
        }
    }
    hr{
        border-top: 1px solid $pureWhite;
    }
}

.featuresSection{
    @include featured;

    
}


@media (max-width: $tablet){
    .sectionOne{
        @include sectionEach($height75: true);
        .imgOne{
            width: 40%;
            max-width: 40%;
            
        }
    
        .heroText{
            @include textBox ($light: false);
            width: 60%;
        }
    }
    
    .sectionTwo, .sectionThree{
        @include sectionEach($height75: false);
    
        .imgHm{
            width: 40%;
            max-width: 40%;
            min-width: 40%;
        }
    
        .textBox{
            @include textBox ($light: true);
            width: 60%;
        }
    }


    .imgCards{
        .imgCard{
            width: 50%;

        }
    }

    .featuresSection{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        padding: clamp(20px, 60px, 10rem);


        .responsive, .noLimit, .embed{
            
            justify-content: center;
            align-items: flex-end;
        }
        .featureRes{
            grid-row: 2/3;
        }
        .featureLimit{
            grid-row: 4/5;
        }
        .featureEmbed{
            grid-row: 6/7;
        }
        .feature{
            max-width: 85%;
            margin: 0 auto;
        }
    }
}