

.pricing{
    display: flex;
    flex-direction: column;
    padding: 5rem ;

    .pricingCards{
        width: 100%;
        // padding: 2rem 10%;
        // height: $section65;

        display: grid;
        grid-template-rows: 2fr minmax(500px, auto) 1fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;

        .price1{
            grid-area: 2/1/3/2;
        }
        .pricingPro{
            grid-area: 1/2/4/3;
        }
        .price2{
            grid-area: 2/3/3/4;
        }


        .pricingB{
            @include priceCard($light:true);
        }
        
        .pricingPro{
            @include priceCard($light:false);
        }

        button{
            width: 100%;
        }
    }
}


.comparison{
    display: flex;
    flex-direction: column;
    align-items: center;

    table{
        width: 60%;
        tr>th{
            border-bottom: 2px $pureBlack solid;
        }
    }
}

 
@media (max-width: $tablet){
    .pricing{
        padding: 2.5rem ;


        .pricingCards{
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1.5fr 1fr;
            row-gap: 2rem;

            .price1{
                grid-area: 1/1/2/3;
            }
            .pricingPro{
                grid-area: 2/1/3/3;
            }
            .price2{
                grid-area: 3/1/4/3;
            }
            .priceCard{
                display: grid;
                grid-template-columns: subgrid;
                text-align: left;
                padding: 2.5rem;

                h2,p,button{
                    grid-column: 1;
                    max-width: 80%;
                   
                }
                button{
                    margin-top: -1rem;
                }
                .charge{
                    grid-column: 2;
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    align-items: flex-end;
                    margin-top: -5rem;
                    
                }
                
            }


            .pricingB,.pricingPro{
            //    height: 30vh;
               flex-direction: row;
            }
            
            
        }
    }
}


@media (max-width: $mobile) {
    .pricing{


        .pricingCards{
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
            row-gap: 2rem;

            .price1{
                grid-area: 1/1/2/2;
            }
            .pricingPro{
                grid-area: 2/1/3/2;
            }
            .price2{
                grid-area: 3/1/4/2;
            }

            .priceCard{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 4rem 0;


                .charge{
                    margin-top: 0rem;
                    align-items: center;
                }
            }
        }
    }
}