// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/////////////////////////////////////////////////////
header{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    padding: 1.5rem 10rem;

    .headerIcons{
        align-self: center;


        .openMenu, .closeMenu{
            display: none;
            padding: 1rem;
        }
    }
    
        .test{
            display: flex;
            justify-content: space-between;
            align-items: center;

            // .mainNav{
            //     grid-column: 2/3;
            //     margin: 0 auto;
            //     display: flex;
            //     align-items: center;
            // }
            
        }
        
    }
    
    //////////////////////////////////////
       
  
    .mainNav{
        display: flex;
        gap: 2.5rem;
        
        .mainNavLink{
            text-transform: uppercase;
            font-size: $a;
            letter-spacing: 2px;
            font-weight: 700;
            color: $pureBlack;
            transition: 0.4s;

            &:hover,&:active,&:focus{
                opacity: 0.3;
            }

            a:visited {
                color: $pureBlack;
            }
        }

    

   


    ////TESTTTTTTTTTTTTT
    
}


@media (max-width: $tablet){
    header{
        padding: 1.75rem 2.5rem ;

        .mainNav{
            gap: 2rem;
        }
    }
}



@media (max-width:850px ){

   header{
    padding: 1.75rem 2.5rem ;
    display: block;
    
    
    .headerIcons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .openMenu{
            display: block;
        }
    }
    .test, .nav{
        width: 100%;
    }
    .test{
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
        position: absolute;
        top: 72px;
        right: 0;
        left:0;
        background-color: $pureWhite;
        padding: 0 2.5rem;
    }
    .test.open{
        visibility: visible;
    }
    .mainNav,.test{
        display: block;
        margin: 0;

    }
    .mainNav{
        border-bottom: 1px solid $lightGrey;

    }
    .mainNavLink{
        padding: 1.5rem 1rem;
        font-size: $p;
        font-weight: 700;
        letter-spacing: 2.5px;
        text-align: center;
    }
    .headerBtn{
        width: 100%;
        margin: 1.5rem 0;
    }

    

   }
   
}



