// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header{
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10rem;
    

        
        nav{
            margin: 0 auto;
            display: flex;
            align-items: center;
        }
    
    
       
    .headerHr{
        display: none;
    }
    .mainNav{
        display: flex;
        gap: 2.5rem;
        
        .mainNavLink{
            text-transform: uppercase;
            font-size: $a;
            letter-spacing: 2px;
            font-weight: 700;
            color: $pureBlack;
            transition: 0.4s;

            &:hover,&:active,&:focus{
                opacity: 0.3;
            }

            a:visited {
                color: $pureBlack;
            }
        }

    }

    .openMenu, .closeMenu{
        display: none;
    }
}


@media (max-width: $tablet){
    header{
        padding: 1.75rem 2.5rem ;

        .mainNav{
            gap: 2rem;
        }
    }
}



@media (max-width:$menu ){

   header{
       nav, .headerBtn{
        display: none;
       }
        
    //   position: absolute;  
        background-color: $pureWhite;
       nav{
        width: 100%;
       }
       .headerBtn{
           width: 100%;
           font-size: $p;
            letter-spacing: 2.5px;
       }
       .headerIcons{
           display: flex;
           align-items: center;
           justify-content: space-between;
           width: 100%;
       }
       
       .openMenu{
           display: block;
       }
       .mainNav{
           flex-direction: column;
           align-items: center;
           width: 100%;
           padding: 2rem;
           border-bottom: 1px solid $pureBlack;
           transition: top 1s ease;
           .mainNavLink{
            font-size: $p;
            letter-spacing: 2.5px;

           }
       }

       display: flex;
       flex-direction: column;
       gap: 2rem;
   }
    
}



