/**
 * Set up a decent box model on the root element
//  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a, button, li {
  cursor: pointer;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}

.image {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
 * Basic typography style for copy text
 */
header {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 10%;
}

header .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

footer {
  background-color: #000;
}

footer .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
}

.sectionOne .imgOne {
  width: 55%;
  max-width: 55%;
}

.sectionOne .heroText {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #000;
}

.sectionOne .heroText h1,
.sectionOne .heroText p,
.sectionOne .heroText .link {
  width: 100%;
  min-width: 300px;
}

.sectionOne .heroText .link {
  gap: 2rem;
}

.sectionOne .heroText h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.sectionOne .heroText p {
  line-height: 25px;
  font-size: 15px;
}

.sectionOne .heroText a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.sectionOne .heroText h1 {
  color: #fff;
}

.sectionOne .heroText p {
  color: #fff;
}

.sectionOne .heroText a {
  color: #fff;
}

.sectionTwo, .sectionThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

.sectionTwo .imgHm, .sectionThree .imgHm {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
}

.sectionTwo .textBox, .sectionThree .textBox {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #fff;
}

.sectionTwo .textBox h1,
.sectionTwo .textBox p,
.sectionTwo .textBox .link, .sectionThree .textBox h1,
.sectionThree .textBox p,
.sectionThree .textBox .link {
  width: 100%;
  min-width: 300px;
}

.sectionTwo .textBox .link, .sectionThree .textBox .link {
  gap: 2rem;
}

.sectionTwo .textBox h1, .sectionThree .textBox h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.sectionTwo .textBox p, .sectionThree .textBox p {
  line-height: 25px;
  font-size: 15px;
}

.sectionTwo .textBox a, .sectionThree .textBox a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.sectionTwo .textBox h1, .sectionThree .textBox h1 {
  color: #000;
}

.sectionTwo .textBox p, .sectionThree .textBox p {
  color: #000;
}

.sectionTwo .textBox a, .sectionThree .textBox a {
  color: #000;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgCards .link {
  margin-top: 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgCards .link a {
  color: #fff;
}

.imgCards .imgCard1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/mountains.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/mountains.jpg");
}

.imgCards .imgCard2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/cityscapes.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/cityscapes.jpg");
}

.imgCards .imgCard3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/18-days-voyage.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/18-days-voyage.jpg");
}

.imgCards .imgCard4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/architecturals.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/architecturals.jpg");
}

.imgCards .imgCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 25%;
  height: 70vh;
  color: #fff;
  padding: 2em 2em;
  background-image: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imgCards hr {
  border-top: 1px solid var(--pureWhite);
}

.featuresSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
  padding: 10rem;
  align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.featuresSection .responsive, .featuresSection .noLimit, .featuresSection .embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresSection .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
  padding: 0 2em;
  text-align: center;
}

.heroStories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/moon-of-appalacia.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/moon-of-appalacia.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 7rem;
  height: 80vh;
}

.heroStories .storiesHeroText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.heroStories .storiesHeroText .featured, .heroStories .storiesHeroText .storyTitle {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.heroStories .storiesHeroText .featured {
  font-size: 12px;
  letter-spacing: 2px;
}

.heroStories .storiesHeroText .storyTitle {
  font-size: 40px;
  letter-spacing: 4.2px;
}

.heroStories .storiesHeroText p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 25px;
}

.heroStories .storiesHeroText p span {
  color: white;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imgCards .imgCard5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/world-tour.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/world-tour.jpg");
}

.imgCards .imgCard6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/unforeseen-corners.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/unforeseen-corners.jpg");
}

.imgCards .imgCard7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/king-on-africa.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/king-on-africa.jpg");
}

.imgCards .imgCard8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/trip-to-nowhere.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/trip-to-nowhere.jpg");
}

.imgCards .imgCard9 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/rage-of-the-sea.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/rage-of-the-sea.jpg");
}

.imgCards .imgCard10 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/running-free.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/running-free.jpg");
}

.imgCards .imgCard11 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/behind-the-waves.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/behind-the-waves.jpg");
}

.imgCards .imgCard12 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/calm-waters.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/calm-waters.jpg");
}

.imgCards .imgCard13 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/milky-way.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/milky-way.jpg");
}

.imgCards .imgCard14 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/dark-forest.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/dark-forest.jpg");
}

.imgCards .imgCard15 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/somwarpet.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/somwarpet.jpg");
}

.imgCards .imgCard16 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/land-of-dreams.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/land-of-dreams.jpg");
}

.imgCards .imgCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

.hero .imageSide {
  width: 55%;
  max-width: 55%;
}

.hero .heroText {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #000;
  gap: 1em;
}

.hero .heroText h1,
.hero .heroText p,
.hero .heroText .link {
  width: 100%;
  min-width: 300px;
}

.hero .heroText .link {
  gap: 2rem;
}

.hero .heroText h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.hero .heroText p {
  line-height: 25px;
  font-size: 15px;
}

.hero .heroText a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.hero .heroText h1 {
  color: #fff;
}

.hero .heroText p {
  color: #fff;
}

.hero .heroText a {
  color: #fff;
}

.hero .heroText p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 25px;
  max-width: 400px;
}

.featuresSection {
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 2.5rem;
}

.featuresSection .domain, .featuresSection .exposure, .featuresSection .drag-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footerBanner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/shared/desktop/bg-beta.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/shared/desktop/bg-beta.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footerBanner h1 {
  color: #fff;
  font-size: 40px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  max-width: 35%;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing .pricingCards {
  width: 100vw;
  padding: 2rem 10%;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 85% 1fr;
      grid-template-rows: 1fr 85% 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.pricing .pricingCards .price1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/-1/2;
}

.pricing .pricingCards .pricingPro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/4/3;
}

.pricing .pricingCards .price2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/-1/4;
}
/*# sourceMappingURL=main.css.map */