/**
 * Set up a decent box model on the root element
//  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a, button, li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.image {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**
 * Basic typography style for copy text
 */
header {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 10%;
}

header .mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

header .mainNav .mainNavLink {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .mainNav .mainNavLink:hover, header .mainNav .mainNavLink:active, header .mainNav .mainNavLink:focus {
  opacity: 0.3;
}

header .mainNav .mainNavLink a:visited {
  color: #000;
}

footer {
  background-color: #000;
  padding: 3rem 10rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50% 1fr;
      grid-template-columns: 1fr 50% 1fr;
}

footer .logoNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logoNav .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.875rem;
}

footer .logoNav .socialLinks .socialLink {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

footer .logoNav .socialLinks .socialLink:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

footer .footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

footer .footerNav .footerNavLink {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .footerNav .footerNavLink:hover, footer .footerNav .footerNavLink:active, footer .footerNav .footerNavLink:focus {
  opacity: 0.3;
}

footer .footerNav .footerNavLink a:visited {
  color: #fff;
}

footer .rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .rights p {
  color: #fff;
  font-size: 15px;
  opacity: 0.6;
}

@media (max-width: 1000px) {
  footer {
    min-height: 40vh;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    padding: 5rem 2.5rem;
    gap: 2rem;
  }
  footer .logoNav {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/3/2;
  }
  footer nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  footer nav .footerNav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .rights {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/3/3;
  }
}

.btn1 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #000;
  color: #fff;
}

.btn1:hover, .btn1:active, .btn1:focus {
  background-color: #dfdfdf;
  color: #000;
}

.btn2 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-color: #fff;
  color: #000;
}

.btn2:hover, .btn2:active, .btn2:focus {
  background-color: #dfdfdf;
}

.btnB {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #000;
}

.btnB:hover, .btnB:active, .btnB:focus {
  border-bottom: 2px solid #000;
}

.btnW {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.btnW:hover, .btnW:active, .btnW:focus {
  border-bottom: 2px solid #fff;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sectionOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
}

.sectionOne .imgOne {
  width: 55%;
  max-width: 55%;
}

.sectionOne .heroText {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #000;
}

.sectionOne .heroText h1,
.sectionOne .heroText p,
.sectionOne .heroText .link {
  width: 100%;
  min-width: 300px;
  max-width: 550px;
  overflow-y: hidden;
}

.sectionOne .heroText .link {
  gap: 2rem;
}

.sectionOne .heroText h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.sectionOne .heroText p {
  line-height: 25px;
  font-size: 15px;
}

.sectionOne .heroText a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.sectionOne .heroText h1 {
  color: #fff;
}

.sectionOne .heroText p {
  color: #fff;
}

.sectionOne .heroText a {
  color: #fff;
}

.sectionTwo, .sectionThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

.sectionTwo .imgHm, .sectionThree .imgHm {
  width: 55%;
  max-width: 55%;
  min-width: 55%;
}

.sectionTwo .textBox, .sectionThree .textBox {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #fff;
}

.sectionTwo .textBox h1,
.sectionTwo .textBox p,
.sectionTwo .textBox .link, .sectionThree .textBox h1,
.sectionThree .textBox p,
.sectionThree .textBox .link {
  width: 100%;
  min-width: 300px;
  max-width: 550px;
  overflow-y: hidden;
}

.sectionTwo .textBox .link, .sectionThree .textBox .link {
  gap: 2rem;
}

.sectionTwo .textBox h1, .sectionThree .textBox h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.sectionTwo .textBox p, .sectionThree .textBox p {
  line-height: 25px;
  font-size: 15px;
}

.sectionTwo .textBox a, .sectionThree .textBox a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.sectionTwo .textBox h1, .sectionThree .textBox h1 {
  color: #000;
}

.sectionTwo .textBox p, .sectionThree .textBox p {
  color: #000;
}

.sectionTwo .textBox a, .sectionThree .textBox a {
  color: #000;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgCards .link {
  margin-top: 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgCards .link a {
  color: #fff;
}

.imgCards .imgCard1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/mountains.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/mountains.jpg");
}

.imgCards .imgCard2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/cityscapes.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/cityscapes.jpg");
}

.imgCards .imgCard3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/18-days-voyage.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/18-days-voyage.jpg");
}

.imgCards .imgCard4 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/architecturals.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/architecturals.jpg");
}

.imgCards .imgCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 25%;
  height: 65vh;
  color: #fff;
  padding: 2em 2em;
  background-image: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  -webkit-transition: top ease-in-out 0.5s;
  transition: top ease-in-out 0.5s;
}

.imgCards .imgCard:hover, .imgCards .imgCard:focus, .imgCards .imgCard:active {
  top: -20px;
  border-bottom: 10px solid transparent;
  -o-border-image: linear-gradient(90deg, #FFC593, #BC7198, #5A77FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#FFC593), color-stop(#BC7198), to(#5A77FF));
     border-image: linear-gradient(90deg, #FFC593, #BC7198, #5A77FF);
  border-image-slice: 1;
}

.imgCards hr {
  border-top: 1px solid #fff;
}

.featuresSection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
  padding: clamp(20px, 100px, 10rem);
  align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.featuresSection .responsive, .featuresSection .noLimit, .featuresSection .embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresSection .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
  padding: 0 2em;
  text-align: center;
}

@media (max-width: 1000px) {
  .sectionOne {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80vh;
  }
  .sectionOne .imgOne {
    width: 40%;
    max-width: 40%;
  }
  .sectionOne .heroText {
    width: 45%;
    min-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    background-color: #000;
    width: 60%;
  }
  .sectionOne .heroText h1,
  .sectionOne .heroText p,
  .sectionOne .heroText .link {
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    overflow-y: hidden;
  }
  .sectionOne .heroText .link {
    gap: 2rem;
  }
  .sectionOne .heroText h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.2px;
  }
  .sectionOne .heroText p {
    line-height: 25px;
    font-size: 15px;
  }
  .sectionOne .heroText a {
    color: var(--pureWhite);
    text-transform: uppercase;
    text-decoration: none;
  }
  .sectionOne .heroText h1 {
    color: #fff;
  }
  .sectionOne .heroText p {
    color: #fff;
  }
  .sectionOne .heroText a {
    color: #fff;
  }
  .sectionTwo, .sectionThree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 75vh;
  }
  .sectionTwo .imgHm, .sectionThree .imgHm {
    width: 40%;
    max-width: 40%;
    min-width: 40%;
  }
  .sectionTwo .textBox, .sectionThree .textBox {
    width: 45%;
    min-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.75rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 8%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    background-color: #fff;
    width: 60%;
  }
  .sectionTwo .textBox h1,
  .sectionTwo .textBox p,
  .sectionTwo .textBox .link, .sectionThree .textBox h1,
  .sectionThree .textBox p,
  .sectionThree .textBox .link {
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    overflow-y: hidden;
  }
  .sectionTwo .textBox .link, .sectionThree .textBox .link {
    gap: 2rem;
  }
  .sectionTwo .textBox h1, .sectionThree .textBox h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.2px;
  }
  .sectionTwo .textBox p, .sectionThree .textBox p {
    line-height: 25px;
    font-size: 15px;
  }
  .sectionTwo .textBox a, .sectionThree .textBox a {
    color: var(--pureWhite);
    text-transform: uppercase;
    text-decoration: none;
  }
  .sectionTwo .textBox h1, .sectionThree .textBox h1 {
    color: #000;
  }
  .sectionTwo .textBox p, .sectionThree .textBox p {
    color: #000;
  }
  .sectionTwo .textBox a, .sectionThree .textBox a {
    color: #000;
  }
  .imgCards .imgCard {
    width: 50%;
  }
  .featuresSection {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    padding: clamp(20px, 60px, 10rem);
  }
  .featuresSection .responsive, .featuresSection .noLimit, .featuresSection .embed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .featuresSection .featureRes {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .featuresSection .featureLimit {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .featuresSection .featureEmbed {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .featuresSection .feature {
    max-width: 85%;
    margin: 0 auto;
  }
}

.heroStories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/moon-of-appalacia.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/moon-of-appalacia.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15vh 0 0 7rem;
  height: 80vh;
}

.heroStories .storiesHeroText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  max-width: 450px;
}

.heroStories .storiesHeroText .featured, .heroStories .storiesHeroText .storyTitle {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.heroStories .storiesHeroText .featured {
  font-size: 12px;
  letter-spacing: 2px;
}

.heroStories .storiesHeroText .storyTitle {
  font-size: 40px;
  letter-spacing: 4.2px;
}

.heroStories .storiesHeroText p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  line-height: 25px;
}

.heroStories .storiesHeroText p span {
  color: white;
}

.imgCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imgCards .imgCard5 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/world-tour.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/world-tour.jpg");
}

.imgCards .imgCard6 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/unforeseen-corners.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/unforeseen-corners.jpg");
}

.imgCards .imgCard7 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/king-on-africa.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/king-on-africa.jpg");
}

.imgCards .imgCard8 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/trip-to-nowhere.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/trip-to-nowhere.jpg");
}

.imgCards .imgCard9 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/rage-of-the-sea.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/rage-of-the-sea.jpg");
}

.imgCards .imgCard10 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/running-free.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/running-free.jpg");
}

.imgCards .imgCard11 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/behind-the-waves.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/behind-the-waves.jpg");
}

.imgCards .imgCard12 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/calm-waters.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/calm-waters.jpg");
}

.imgCards .imgCard13 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/milky-way.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/milky-way.jpg");
}

.imgCards .imgCard14 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/dark-forest.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/dark-forest.jpg");
}

.imgCards .imgCard15 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/somwarpet.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/somwarpet.jpg");
}

.imgCards .imgCard16 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/stories/desktop/land-of-dreams.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/stories/desktop/land-of-dreams.jpg");
}

.imgCards .imgCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .heroStories {
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    padding: 15% 2.5rem 0 2.5rem;
  }
  .heroStories .storiesHeroText {
    max-width: 400;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75vh;
}

.hero .imageSide {
  width: 55%;
  max-width: 55%;
}

.hero .heroText {
  width: 45%;
  min-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-color: #000;
  gap: 1em;
}

.hero .heroText h1,
.hero .heroText p,
.hero .heroText .link {
  width: 100%;
  min-width: 300px;
  max-width: 550px;
  overflow-y: hidden;
}

.hero .heroText .link {
  gap: 2rem;
}

.hero .heroText h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
}

.hero .heroText p {
  line-height: 25px;
  font-size: 15px;
}

.hero .heroText a {
  color: var(--pureWhite);
  text-transform: uppercase;
  text-decoration: none;
}

.hero .heroText h1 {
  color: #fff;
}

.hero .heroText p {
  color: #fff;
}

.hero .heroText a {
  color: #fff;
}

.hero .heroText p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 25px;
  max-width: 400px;
}

.featuredMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 1.875rem;
  padding: clamp(20px, 100px, 10rem);
  align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 2.5rem;
}

.featuredMain .responsive, .featuredMain .noLimit, .featuredMain .embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuredMain .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2em;
  padding: 0 2em;
  text-align: center;
}

.featuredMain .domain, .featuredMain .exposure, .featuredMain .drag-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footerBanner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5))), url("/assets/shared/desktop/bg-beta.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/assets/shared/desktop/bg-beta.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footerBanner h1 {
  color: #fff;
  font-size: 40px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  max-width: 35%;
}

@media (max-width: 1000px) {
  .featuredMain {
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    padding: 5rem 2.5rem;
  }
  .featuredMain .responsive {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .featuredMain .noLimit {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
  }
  .featuredMain .featureRes {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .featuredMain .featureLimit {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .featuredMain .featureEmbed {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
  }
  .featuredMain .featureDomain {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 4/2/5/3;
  }
  .featuredMain .featureHome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .footerBanner {
    padding: 5rem 2.5rem;
  }
  .footerBanner h1 {
    max-width: 60%;
  }
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.pricing .pricingCards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr minmax(500px, auto) 1fr;
      grid-template-rows: 2fr minmax(500px, auto) 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1rem;
}

.pricing .pricingCards .price1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

.pricing .pricingCards .pricingPro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/4/3;
}

.pricing .pricingCards .price2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
}

.pricing .pricingCards .pricingB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 700;
  text-align: center;
  color: #000;
  background-color: #F5F5F5;
  padding: 3.375rem 2.5rem;
}

.pricing .pricingCards .pricingB > * {
  max-width: 80%;
}

.pricing .pricingCards .pricingB h2 {
  font-size: 24px;
}

.pricing .pricingCards .pricingB p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 2rem;
}

.pricing .pricingCards .pricingB h1 {
  font-size: 40px;
}

.pricing .pricingCards .pricingPro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 3.375rem 2.5rem;
}

.pricing .pricingCards .pricingPro > * {
  max-width: 80%;
}

.pricing .pricingCards .pricingPro h2 {
  font-size: 24px;
}

.pricing .pricingCards .pricingPro p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 0.6;
  margin-bottom: 2rem;
}

.pricing .pricingCards .pricingPro h1 {
  font-size: 40px;
}

.pricing .pricingCards button {
  width: 100%;
}

.comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comparison table {
  width: 60%;
}

.comparison table tr > th {
  border-bottom: 2px #000 solid;
}

@media (max-width: 1000px) {
  .pricing .pricingCards {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .pricing .pricingCards .price1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1/1/2/3;
  }
  .pricing .pricingCards .pricingPro {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2/1/3/3;
  }
  .pricing .pricingCards .price2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3/1/4/3;
  }
  .pricing .pricingCards .pricingB, .pricing .pricingCards .pricingPro {
    height: 30vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */